.bars {
    display: flex;
    align-items: baseline;
    width: 100vw;
    overflow: auto;
}

.bar {
    width: 1vw;
    margin-left: 1px;
    background: yellowgreen;
}

.temp {
    background: tomato;
}

.data-wrapper {
    height: 50vh;
    overflow: auto;
}